html {
  font-size: 18px;
  width: 960px;
  height: 960px;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;

}
.header img {
  height: 1.5rem;
  margin-right: 1rem;
  height: 1.5rem;
  margin-left: 7rem;

}
.header p {
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}
.banner {
  display: flex;
  background-image: url("../../resources/moto.jpeg");
  height: 25rem;
}
.bannertext {
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  margin-left: 7rem;
  margin-bottom: 3rem;
}
.bannertext h2 {
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
}
.bannertext h1 {
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
}
